<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <div class="input-group w-25">
      <span class="input-group-text">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input type="text" class="form-control" placeholder="Filter Products" />
    </div>

    <div class="d-flex align-items-center">
      <ng-container *ngIf="loggedInUser.userName">
        <i class="fa-solid fa-user"></i>

        <button
          type="button"
          class="btn btn-outline-dark mx-3"
          (click)="clickOnSignOut()"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
          Sign-out
        </button>
      </ng-container>

      <button
        type="button"
        class="btn btn-outline-dark mx-3"
        *ngIf="!loggedInUser.userName"
        (click)="clickOnSignIn()"
      >
        <i class="fa-solid fa-right-to-bracket"></i>
        Sign-in
      </button>

      <button type="button" class="btn btn-outline-primary position-relative">
        <i class="fa-solid fa-cart-shopping"></i>

        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          *ngIf="cartItems.length !== 0"
        >
          {{ cartItems.length }}
          <span class="visually-hidden">products in cart</span>
        </span>
      </button>
    </div>
  </div>
</nav>
