<app-header></app-header>

<div class="container">
  <div class="row pt-3">
    <div class="col-9">
      <h2 class="h3">Products</h2>
      <app-products></app-products>
    </div>
    <div class="col-3">
      <h2 class="h3">Application Log</h2>
      <ul class="list-group">
        <div
          class="list-group-item bg-secondary"
          style="--bs-bg-opacity: 0.2"
          *ngFor="let logItem of logItems"
        >
          <div class="fw-bold">
            {{ logItem.message }}
          </div>

          <p>
            {{ helpers.getDateString(logItem.date) }}
          </p>
        </div>
      </ul>
    </div>
  </div>
</div>
